.hidden {
  display: none !important;
}

* {
  text-align: center;
  box-sizing: border-box;
}

main {
  border: 2px solid red;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#test-content-select {
  position: absolute;
  border: 2px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#test-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#question {
  border: 2px solid green;
  width: 80%;
  height: 30%;
  font-size: 6rem;
}

#answer {
  width: 80%;
  height: 20%;
  font-size: 3rem;
  border: 2px solid blue;
}

#notice-box {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: white;
  font-size: 1.8rem;
  border: 2px solid orange;
}

#close-notice {
  font-size: 1.3rem;
}

#make-test-btn {
  width: 200px;
  height: 100px;
  position: absolute;
  border-radius: 8%;
  border: 2px solid blue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#submit-answer {
  width: 100px;
}

button:hover {
  cursor: pointer;
}
