.hidden {
  display: none !important;
}

* {
  text-align: center;
}

main {
  border: 2px solid red;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#test-content-select {
  position: absolute;
  border: 2px solid black;
  left: 25%;
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#test-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#question {
  border: 2px solid green;
  width: 300px;
  height: 100px;
  font-size: 4rem;
}

#answer {
  width: 300px;
  height: 40px;
  font-size: 2rem;
  border: 2px solid blue;
}

#notice-box {
  position: absolute;
  bottom: 20%;
  left: 6%;
  width: 350px;
  height: 150px;
  border: 2px solid orange;
}

#make-test-btn {
  width: 200px;
  height: 100px;
  position: absolute;
  border-radius: 8%;
  border: 2px solid blue;
  bottom: 25%;
  left: 25%;
}

#submit-answer {
  width: 100px;
}

button:hover {
  cursor: pointer;
}
