* {
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(white, yellow);
}

.red-container {
    width: 90%;
    height: 90%;
    background: linear-gradient(gold, orange);
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form {
    width: 90%;
    height: 90%;
    background: linear-gradient(gold, orange);
    margin: 2% auto;
    border-radius: 10px;
    text-align: center;
}

.fill-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

#login, #register {
    font-size: 2rem;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s ease;
}

button:hover {
    background: blue;
    color: white;
}