<!doctype html>
<html lang="ja">
<head>
    <title>Student Dashboard</title>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <t1 claas="title">insert username here</t1>
    <div>
        <nav class="nav-bar">
            <ul>
                <li>Home</li>
                <li>Pracitce</li>
                <li>Test</li>
                <li>Scores</li>
                <li>Class</li>
                <li>Settings</li>
            </ul>
        </nav>
    </div>
    <main class="overview">
<p>insert user recent score history here if any</p>
    </main>
</body>
</html>