<!doctype html>
<html lang="ja">
<head>
    <title>Student Dashboard</title>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/dashboard_student.css" />
</head>
<body>
  <main>
    <button type="button" id="make-test-btn" class="">Test</button>
    <div id="test-content-select" class="hidden">
      <label for="grade">Select Grade: </label>
      <select id="grade">
       <option value="3">Grade 3</option>
       <option value="4">Grade 4</option>
      </select>
      <label for="chapter">Select Chapter: </label>
      <select id="chapter">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <button type="button" id="start-test-btn">Start</button>
    </div>
    <div id="test-display" class="hidden">
      <div id="question">青</div>
      <input type="text" id="answer" placeholder="answer"/>
      <button type="button" id="submit-answer">Submit</button>
    </div>
    <div id="notice-box" class="hidden">
      <p id="message">your input: "haha"</p>
      <button type="button" id="close-notice">next word</button>
    </div>
  </main>
  <script src="/static/js/dashboard_student.js"></script>
</body>

</html>