<!doctype html>
<html lang="ja">
<head>
    <title>Teacher Dashboard</title>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Class</li>
                <li>Scores</li>
                <li>School</li>
                <li>District</li>
                <li>Settings</li>
            </ul>
        </nav>
    </div>
    <main>
        <button type="button">Create Class</button>
    </main>
</body>
</html>