<!doctype html>
<html lang="ja">
<head>
    <title>Login page</title>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" >
</head>
<body>
    <form class="login-form" method="get">
        <section class="fill-form">
            <label>メール: </label>
            <input id="e-mail" type="text" placeholder="taro.hatori@email.com">
            <label>パスワード: </label>
            <input id="password" type="password">
        </section>
        <section class="buttons">
            <button type="reset">クリア</button>
            <button type="submit" id="login-btn">ログイン</button>
        </section>
    </form>
    <script src="/app/static/js/auth.js"></script>
</body>
</html>